<div class="row">
  <% @words.each_with_index do |word, index| %>
    <%=
      render 'card',
        word: word.word,
        description: word.meaning,
        highlighted: @word
    %>
  <% end %>
</div>
