<div class="row">
  <% @words.each_with_index do |word, index| %>
    <%=
      render 'card',
        word: word.word,
        description: word.meaning,
        highlighted: @word,
        tags: word.tags
    %>
  <% end %>

  <% if @words.empty? %>
    <div id="empty-result">
      <div class="card-panel waves-effect waves-dark purple darken-4">
        <span class="white-text">No words were found with this criteria.</span>
      </div>
    </div>
  <% end %>
</div>
